<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TravelJP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B97795C1BCA6DB200FF54D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B9779701BCA6DB200FF54D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B97797B1BCA6DB200FF54D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
